@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "Index";
}
 
<h1>Index</h1>
<ul>
    @foreach (var user in Model)
    {
        <li>@user.Email</li>
    }
</ul>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
